.base {
    width: 100%;
    display: flex;
}

.ContentPage {
    margin: 10px;
    border-radius: 10px;

    height: auto;
    width: 100%;

    overflow: -moz-scrollbars-vertical;
    overflow: scroll;

    background-image: url(portfolio-website/src/assets/StripedWhiteBackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    min-width: 800px;

    animation: fadeInLeft 1s ease-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}